@model ResetPasswordViewModel

@{ 
    ViewBag.Title = "Reset password";
}

<div>
    <h1 class="text-center">Reset password</h1>
    <form method="POST" asp-action="ResetPassword">
        <div class="form-group">
            <label asp-for="@Model.Password"></label>
            <input class="form-control" asp-for="@Model.Password" />
            <span class="text-danger" asp-validation-for="@Model.Password"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.ConfirmPassword"></label>
            <input class="form-control" asp-for="@Model.ConfirmPassword" />
            <span class="text-danger" asp-validation-for="@Model.ConfirmPassword"></span>
        </div>

        <input type="hidden" asp-for="@Model.Email" />
        <input type="hidden"  asp-for="@Model.Token" />

        <div asp-validation-summary="All" class="text-danger"></div>

        <button type="submit" class="btn btn-success mt-3">Reset</button>
    </form>
</div>