@model List<UserRoleViewModel>
@{
    ViewBag.Title = "Add or remove user roles";
}

<h1>Add or remove user roles</h1>

<form method="post" asp-controller="Role" asp-action="EditUserInRole">
    
    @for (int i = 0; i < Model.Count(); i++) {
        <div class="form-check">
            <input type="hidden" asp-for="@Model[i].UserId" />
            <input type="hidden" asp-for="@Model[i].Username" />
            <input class="form-check-input" asp-for="@Model[i].IsSelected">
            <label class="form-check-label" asp-for="@Model[i].IsSelected">
                @Model[i].Username
            </label>
        </div>
    }

    <button type="submit" class="btn btn-success">Change</button>
</form>