@model IEnumerable<GetBookDto>

@{
    ViewBag.Title = "Belgrade Library";
}



<div class="container">
    <h1 class="text-center m-5">Welcome to @ViewBag.Title</h1>
    <div class="row d-flex justify-content-around">

        @foreach (var book in Model)
        {

            <div class="card col-3 p-0 ml-2 mr-2 mt-5" style="width: 18rem;">
                <a class="text-decoration-none text-dark" asp-controller="Book" asp-action="DisplayBookDetails" asp-route-id="@book.EncryptedId">
                    @if (book.PhotoName != null)
                    {
                        <img class="w-100" src="~/uploads/images/@book.PhotoName" alt="@book.Title" />
                    }
                    else
                    {
                        <img class="w-100" src="~/images/nobookimg.png" alt="@book.Title" />
                    }

                    <div class="card-body">
                        <h5 class="card-title">@book.Title</h5>
                        <p class="card-text">@book.CategoryName</p>
                    </div>
                </a>
            </div>
        }

    </div>
</div>