@model HomeIndexViewModel

@{
    ViewBag.Title = "Belgrade Library";
}



<div class="container">
    <h1 class="text-center m-5">Welcome to @ViewBag.Title</h1>
    <div class="row d-flex justify-content-between">
        <div class="col-3">
            <select class="custom-select" id="all-categories">
                <option value="0" selected>Select Category</option>
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>

        <div class="col-3 d-flex">
            <input id="search-text" class="form-control" type="text" placeholder="Search" aria-label="Search">
            <button id="search-button" class="btn btn-primary" type="button">Search</button>
        </div>

        <div class="col-3 d-flex">
            <select class="custom-select" id="inputGroupSelect01">
                <option selected>Order by name:</option>
                <option value="1">Acsending</option>
                <option value="2">Decsending</option>
            </select>
        </div>
    </div>
    <div id="message"></div>
    <div id="book-section" class="row d-flex justify-content-around">

        @foreach (var book in Model.NewestBooks)
        {

            <div class="card col-3 p-0 ml-2 mr-2 mt-5" style="width: 18rem;">
                <a class="text-decoration-none text-dark" asp-controller="Book" asp-action="DisplayBookDetails" asp-route-id="@book.EncryptedId">
                    @if (book.PhotoName != null)
                    {
                        <img class="w-100" src="~/uploads/images/@book.PhotoName" alt="@book.Title" />
                    }
                    else
                    {
                        <img class="w-100" src="~/images/nobookimg.png" alt="@book.Title" />
                    }

                    <div class="card-body">
                        <h5 class="card-title">@book.Title</h5>
                        <p class="card-text">@book.CategoryName</p>
                    </div>
                </a>
            </div>
        }

    </div>
</div>
<script src="~/js/HomeIndex.js"></script>